@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,300;1,400&display=swap");
// Start variables

// Main colors
$mainColor: #0077ff;
$backgroundColor: #000;

// Colors of planets
$mercuryColor: #e8927c;
$venusColor: #b45d15;
$earthColor: #3a4680;
$marsColor: #e55f45;
$jupiterColor: #ffa500;
$saturnColor: #b29d81;
$uranusColor: #8dcdd8;
$neptuneColor: #4f83e2;
$plutoColor: #ff8732;
// End variables
// Start important mixins

// prefixer mixin
@mixin prefixer($prop, $val) {
  -webkit-#{$prop}: $val;
  -moz-#{$prop}: $val;
  #{$prop}: $val;
}

// keyframes prefixer
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}
// End important mixins
// Strat Global values
%reverse {
  div:nth-of-type(1) {
    @media (min-width: 980px) {
      grid-area: 1 / 2 / span 1 / span 1;
      margin-left: 150px;
    }
  }
  .information {
    @media (min-width: 980px) {
      grid-area: 1 / 1 / span 1 / span 1;
      direction: rtl;
    }
  }
}
body {
  background-color: $backgroundColor;
  color: #fff;
  a {
    color: #fff;
  }
  p {
    max-width: 100%;
    @media (max-width: 450px) {
      max-width: 85%;
    }
    @media (max-width: 370px) {
      max-width: 75%;
    }
  }
  .meteors {
    height: 480px;
    width: 100%;
    background: url(../media/images/meteors.png) center;
    position: relative;
    animation: meteorsAnimate 30s linear infinite;
    &:not(:last-of-type) {
      margin: -50px 0 50px;
    }
    @keyframes meteorsAnimate {
      0% {
        background-position: 0 0;
      }
      100% {
        background-position: 852px 0;
      }
    }
    span {
      position: absolute;
      font-size: 20px;
      color: #ccc;
      top: 100px;
      left: 50px;
      user-select: none;
      z-index: -1;
    }
  }
  section {
    padding: 30px 0;
    overflow: hidden;
    &:not(:last-of-type) {
      margin-bottom: 100px;
    }
    .max-width {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
      .planet {
        border-radius: 50%;
        background-repeat: repeat-x;
        animation: animate 100s linear infinite;
        margin-top: 50px;
        position: relative;
        @media (max-width: 990px) {
          margin: 0 auto 50px !important;
        }
        @keyframes animate {
          0% {
            background-position: 0 0;
          }
          100% {
            background-position: -2048px 0;
          }
        }
        .moo {
          background-repeat: repeat-x;
          border-radius: 50%;
          position: absolute;
          box-shadow: inset 0 0 5px #000, 0 0 50px #7d717190;
          animation: moon 250s linear infinite;
          @keyframes moon {
            0% {
              background-position: 0 0;
            }
            100% {
              background-position: -2048px 0;
            }
          }
          &.moon1 {
            top: 70px;
            right: 115px;
            @media (max-width: 800px) {
              top: 108px;
              right: 430px;
            }
          }
          &.moon2 {
            top: 450px;
            right: 20px;
            @media (max-width: 800px) {
              top: 500px;
              right: 310px;
            }
          }
          &.moon3 {
            top: 180px;
            right: -80px;
            @media (max-width: 800px) {
              top: 380px;
              right: 450px;
            }
          }
        }
      }
      .information {
        h1 {
          margin-top: 0;
        }
      }
    }
  }
}
// End Global values
// Start Nav
nav {
  $navHeight: 60px;
  background-color: #00000050;
  position: sticky;
  inset: 0;
  z-index: 99999;
  .max-width {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $navHeight;
    .logo {
      display: flex;
      align-items: center;
      a {
        img {
          width: 30px;
        }
      }
      a:last-of-type {
        font-size: 18px;
        margin-left: 10px;
      }
    }
    .links {
      label {
        font-size: 20px;
        cursor: pointer;
      }
      input {
        display: none;
        &:checked ~ ul {
          right: 0;
        }
      }
      ul {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 200px;
        height: 100vh;
        position: fixed;
        top: $navHeight;
        right: -201px;
        background-color: #00000050;
        padding: 15px;
        li {
          margin: 15px 0;
          a {
            color: #fff;
            padding: 15px;
            position: relative;
            &:hover {
              color: $mainColor;
              &::before {
                width: 50px;
              }
            }
            &::before {
              content: "";
              height: 2px;
              width: 0;
              background-color: $mainColor;
              position: absolute;
              bottom: 10px;
              left: 50%;
              transform: translateX(-50%);
              transition: 0.4s;
            }
          }
        }
      }
    }
  }
}
// End Nav
// Start Landing
.landing {
  min-height: 100vh;
  video {
    position: absolute;
    inset: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    pointer-events: none;
    background-color: $backgroundColor;
    z-index: -1;
    max-width: 100%;
    & + .overlay {
      background-color: #00000038;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
  }
  .max-width {
    .text {
      padding-top: 120px;
      h2 {
        letter-spacing: 3px;
        margin: 0 0 15px;
        line-height: 0;
      }
      h1 {
        margin: 0;
        text-transform: capitalize;
      }
      p {
        font-size: 18px;
        margin-top: 10px;
      }
      i {
        display: inline-block;
        font-size: 30px;
        cursor: pointer;
        @include prefixer(animation, topAndDown 2s linear infinite);
        @include keyframes(topAndDown) {
          0% {
            transform: translateY(0);
          }
          50% {
            transform: translateY(-10px);
          }
          100% {
            transform: translateY(0);
          }
        }
      }
    }
  }
}
// End Landing
// Start Sun
section.sun {
  .max-width {
    .sun {
      background: url(../media/images/sun.jpg) center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 1000px;
      height: 1000px;
      margin: -350px 0 0 -500px;
      @media (max-width: 990px) {
        margin: -500px 0 0 -150px;
      }
    }
  }
}
// End Sun
// Start Mercury
section.mercury {
  .max-width {
    @extend %reverse;
    .mercury {
      background: url(../media/images/mercury.jpg) center;
      background-size: cover;
      width: 200px;
      height: 200px;
      transform: rotate(-3.38deg);
      box-shadow: inset 0 0 20px #000, 0 0 50px #e8927c70;
    }
  }
}
// End Mercury
// Start Venus
section.venus {
  .max-width {
    .venus {
      background: url(../media/images/Venus.jpg) center;
      background-size: cover;
      width: 300px;
      height: 300px;
      transform: rotate(-3.86deg);
      box-shadow: inset 0 0 20px #000, 0 0 50px #b45d1570;
    }
  }
}
// End Venus
// Start earth
section.earth {
  .max-width {
    @extend %reverse;
    .earth {
      background: url(../media/images/earth.jpg) center;
      background-size: cover;
      width: 400px;
      height: 400px;
      margin: 0 0 0 -50px;
      transform: rotate(-23.5deg);
      box-shadow: inset 0 0 20px #000, 0 0 50px #3a468070;
      .moon {
        width: 50px;
        height: 50px;
        background: url(../media/images/moon.jpg) center;
        background-size: cover;
        top: 180px;
        right: -100px;
        transform: rotate(-28.58deg);
        @media (max-width: 800px) {
          top: 390px;
          right: 330px;
        }
        span {
          position: absolute;
          top: -25px;
          right: -40px;
          transform: rotate(50deg);
        }
      }
    }
  }
}
// End earth
// Start mars
section.mars {
  .max-width {
    .mars {
      background: url(../media/images/mars.jpg) center;
      background-size: cover;
      width: 300px;
      height: 300px;
      margin: 0 0 0 -50px;
      transform: rotate(-5.65deg);
      box-shadow: inset 0 0 20px #000, 0 0 50px #e55f4570;
      .deimos {
        width: 50px;
        height: 50px;
        background: url(../media/images/titan.png) center;
        background-size: cover;
        top: 55px;
        right: -190px;
        transform: rotate(-0.93deg);
        @media (max-width: 800px) {
          top: 55px;
          right: 270px;
        }
        span {
          position: absolute;
          top: -25px;
          right: -40px;
          transform: rotate(10deg);
        }
      }
      .phoebos {
        width: 50px;
        height: 50px;
        background: url(../media/images/moon.jpg) center;
        background-size: cover;
        top: 230px;
        right: -85px;
        transform: rotate(0);
        @media (max-width: 800px) {
          top: 310px;
          right: 75px;
        }
        span {
          position: absolute;
          top: -25px;
          right: -40px;
          transform: rotate(10deg);
        }
      }
    }
  }
}
// End mars
// Start jupiter
section.jupiter {
  .max-width {
    @extend %reverse;
    .jupiter {
      background: url(../media/images/jupiter.jpg) center;
      background-size: cover;
      width: 600px;
      height: 600px;
      margin: 0 0 0 -150px;
      transform: rotate(-5.65deg);
      box-shadow: inset 0 0 20px #000, 0 0 50px #ffa50070;
      .io {
        width: 50px;
        height: 50px;
        background: url(../media/images/io.jpg) center;
        background-size: cover;
        transform: rotate(-0.93deg);
        span {
          position: absolute;
          top: -25px;
          right: -40px;
          transform: rotate(10deg);
        }
      }
      .europa {
        width: 50px;
        height: 50px;
        background: url(../media/images/europa.jpg) center;
        background-size: cover;
        transform: rotate(0);
        @media (min-width: 980px) {
          top: 450px !important;
          right: 450px !important;
        }
        span {
          position: absolute;
          top: -25px;
          right: -40px;
          transform: rotate(10deg);
        }
      }
      .ganymede {
        width: 50px;
        height: 50px;
        background: url(../media/images/titan.png) center;
        background-size: cover;
        transform: rotate(0);
        @media (min-width: 980px) {
          top: 180px !important;
          right: 600px !important;
        }
        span {
          position: absolute;
          top: -25px;
          right: -40px;
          transform: rotate(10deg);
        }
      }
    }
    .information {
      margin-top: 100px;
    }
  }
}
// End jupiter
// Start saturn
section.saturn {
  .max-width {
    .saturn {
      background: url(../media/images/saturn.jpg) center;
      background-size: cover;
      width: 550px;
      height: 550px;
      margin: 0 0 0 -150px;
      transform: rotate(-2.485deg);
      box-shadow: inset 0 0 20px #000, 0 0 50px #b29d8170;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 35%;
        left: -48%;
        width: 1130px;
        height: 115px;
        background: url(../media/images/ring.png);
        background-size: cover;
        background-repeat: no-repeat;
        transform: rotate(-2.485deg);
      }
      .dione {
        width: 50px;
        height: 50px;
        background: url(../media/images/dione.jpg) center;
        background-size: cover;
        transform: rotate(-0.93deg);
        span {
          position: absolute;
          top: -25px;
          right: -40px;
          transform: rotate(10deg);
        }
      }
      .titan {
        width: 50px;
        height: 50px;
        background: url(../media/images/titan.png) center;
        background-size: cover;
        transform: rotate(0);
        span {
          position: absolute;
          top: -25px;
          right: -40px;
          transform: rotate(10deg);
        }
      }
      .enceladus {
        width: 50px;
        height: 50px;
        background: url(../media/images/moon.jpg) center;
        background-size: cover;
        transform: rotate(0);
        span {
          position: absolute;
          top: -25px;
          right: -40px;
          transform: rotate(10deg);
        }
      }
    }
    .information {
      margin-top: 30px;
      z-index: 2;
    }
  }
}
// End saturn
// Start uranus
section.uranus {
  .max-width {
    @extend %reverse;
    .uranus {
      background: url(../media/images/uranus.png) center;
      background-size: cover;
      width: 480px;
      height: 480px;
      margin: 0 0 0 -150px;
      transform: rotate(-2.485deg);
      box-shadow: inset 0 0 20px #000, 0 0 50px #8dcdd870;
      position: relative;
      .miranda {
        width: 50px;
        height: 50px;
        background: url(../media/images/miranda.jpg) center;
        background-size: cover;
        transform: rotate(-0.93deg);
        span {
          position: absolute;
          top: -25px;
          right: -40px;
          transform: rotate(10deg);
        }
      }
      .umbriel {
        width: 50px;
        height: 50px;
        background: url(../media/images/titan.png) center;
        background-size: cover;
        transform: rotate(0);
        span {
          position: absolute;
          top: -25px;
          right: -40px;
          transform: rotate(10deg);
        }
      }
      .ariel {
        width: 50px;
        height: 50px;
        background: url(../media/images/dione.jpg) center;
        background-size: cover;
        transform: rotate(0);
        @media (min-width: 980px) {
          top: 180px !important;
          right: 400px !important;
        }
        span {
          position: absolute;
          top: -25px;
          right: -40px;
          transform: rotate(10deg);
        }
      }
    }
    .information {
      margin-top: 30px;
    }
  }
}
// End uranus
// Start neptune
section.neptune {
  .max-width {
    .neptune {
      background: url(../media/images/neptune.png) center;
      background-size: cover;
      width: 510px;
      height: 510px;
      margin: 0 0 0 -150px;
      transform: rotate(-2.485deg);
      box-shadow: inset 0 0 20px #000, 0 0 50px #8dcdd870;
      position: relative;
      .triton {
        width: 50px;
        height: 50px;
        background: url(../media/images/triton.png) center;
        background-size: cover;
        transform: rotate(-0.93deg);
        span {
          position: absolute;
          top: -25px;
          right: -40px;
          transform: rotate(10deg);
        }
      }
      .proteus {
        width: 50px;
        height: 50px;
        background: url(../media/images/proteus.jpg) center;
        background-size: cover;
        transform: rotate(0);
        span {
          position: absolute;
          top: -25px;
          right: -40px;
          transform: rotate(10deg);
        }
      }
      .nereid {
        width: 50px;
        height: 50px;
        background: url(../media/images/nereid.jpg) center;
        background-size: cover;
        transform: rotate(0);
        span {
          position: absolute;
          top: -25px;
          right: -40px;
          transform: rotate(10deg);
        }
      }
    }
    .information {
      margin-top: 70px;
    }
  }
}
// End neptune
// Start pluto
section.pluto {
  .max-width {
    @extend %reverse;
    .pluto {
      background: url(../media/images/pluto.png) center;
      background-size: cover;
      width: 150px;
      height: 150px;
      margin-top: 70px;
      transform: rotate(-17.16deg);
      box-shadow: inset 0 0 20px #000, 0 0 50px #ff873250;
    }
  }
}
// End pluto
// Start Footer
footer {
  padding: 20px;
  .max-width {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 450px) {
      flex-direction: column-reverse;
    }
    .left {
      span {
        a {
          color: $mainColor;
        }
      }
    }
    .right {
      @media (max-width: 450px) {
        margin-bottom: 20px;
      }
      i {
        font-size: 20px;
        margin: 0 10px;
        &:hover {
          color: $mainColor;
        }
      }
    }
  }
}
// End Footer